.quests {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* ========================================================================== */
/* QUEST CARD */
/* ========================================================================== */

.quest_card_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.quest_card_properties {
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
}

.quest_card_property {
  padding: 0.3rem 0.5rem;
  border-radius: 25px;
  border-width: 2px;
  border-style: solid;
}

.quest_actions {
  display: flex;
  gap: 10px;
  align-items: center;
}

.confirm_deletion {
  display: flex;
  gap: 10px;
}

.confirm_deletion p {
  color: white;
  white-space: nowrap;
  margin: auto 0;
  font-weight: 500;
  /* will-change: transform; */
}

.confirm_deletion p span {
  /* color: var(--qb-red); */
  font-weight: bold;
  will-change: transform;
}

.confirm_deletion button {
  padding: 0.5rem 1rem;
}

.quest_xp {
  background-color: var(--qb-periwinkle-trans);
  border-color: var(--qb-periwinkle);
  color: var(--qb-periwinkle);
}

.quest_status.NOT_STARTED {
  background-color: var(--qb-blue-slime-trans);
  border-color: var(--qb-blue-slime);
  color: var(--qb-blue-slime);
}

.quest_status.ACTIVE {
  background-color: var(--qb-mana-star-trans);
  border-color: var(--qb-mana-star);
  color: var(--qb-mana-star);
}

.quest_difficulty.EASY,
.quest_status.COMPLETED {
  background-color: var(--qb-alien-green-trans);
  border-color: var(--qb-alien-green);
  color: var(--qb-alien-green);;
}

.quest_difficulty.MEDIUM {
  background-color: var(--qb-mimic-coin-trans);
  border-color: var(--qb-mimic-coin);
  color: var(--qb-mimic-coin);
}

.quest_difficulty.HARD,
.quest_status.FAILED {
  background-color: var(--qb-error-red-trans);
  border-color: var(--qb-error-red);
  color: var(--qb-error-red)
}

.quest_difficulty.DEADLY {
  background-color: var(--qb-pixie-dust-trans);
  border-color: var(--qb-pixie-dust);
  color: var(--qb-pixie-dust);
}