.wrapper {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  padding-right: 3rem;
  box-sizing: border-box;
}

.toggle {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);

  display: grid;
  place-items: center;

  padding: 0;
  border: 0;
  background: transparent;
  color: inherit;
  cursor: pointer;
  width: fit-content;
}
.toggle:hover {
  background: transparent;
}

.toggle > svg {
  stroke: var(--primary-);
}