.wrapper {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  padding-right: 3rem;
  box-sizing: border-box;
}

.dark .input {
  background-color: rgba(61, 61, 61, 0.253);
  border-color: rgb(10, 10, 10);
  color: white;
  padding: .5rem 1rem;
}

.toggle {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);

  display: grid;
  place-items: center;

  padding: 0;
  border: 0;
  background: transparent;
  color: inherit;
  cursor: pointer;
  width: fit-content;
}
.toggle:hover {
  background: transparent;
}

.toggle > svg {
  stroke: var(--primary-);
}

.dark svg {
  stroke: white;
}