.campaigns_container {
  margin: 20px;
  border-radius: 15px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px
}

.campaigns_header {
  font-size: 3rem;
}

.campaign_hr {
  border-color: rgb(59, 59, 59);
  border-top: 1px solid rgb(59, 59, 59);
  height: 1px;
}

.campaigns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.campaign {
  height: 450px;
  min-width: 0;
  overflow: hidden;
}

.campaign_image {
  width: 100%;
  min-height: 0;
  flex: 1 1 auto;
  object-fit: cover;
  border-radius: 9px 9px 0 0;
  mask-image: linear-gradient(
    to bottom,
    black 70%,
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    black 70%,
    transparent 100%
  );
}

.campaign_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  height: 100%;
}

.campaign_text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.campaign_name {
  font-size: 1.4rem;
  font-weight: 700;
}

.campaign_description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

.campaign_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.role {
  border-radius: 25px;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 8px 13px;
  width: fit-content;
}

.role.OWNER {
  background-color: var(--qb-mimic-coin-trans);
  border: solid 2px var(--qb-mimic-coin);
  color: var(--qb-mimic-coin);
}

.role.PLAYER {
  background-color: var(--qb-alien-green-trans);
  border: solid 2px var(--qb-alien-green);
  color: var(--qb-alien-green);
}

.campaign_system {
  background-color: var(--qb-blue-slime-trans);
  border: solid 2px var(--qb-blue-slime);
  color: var(--qb-blue-slime);
  border-radius: 25px;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 8px 13px;
  width: fit-content;
}

.campaign_actions {
  display: flex;
  gap: 10px;
}

.campaign_edit {
  stroke: rgb(212, 212, 212);
}
.campaign_edit:hover {
  stroke: white;
}

.campaign_trash {
  stroke: rgb(199, 62, 62);
}
.campaign_trash:hover {
  stroke: rgb(255, 68, 68);
}

.no_results {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px
}

@media (max-width: 1000px) {
  .campaigns {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* ========================================================================== */
/* CAMPAIGN EDITOR */
/* ========================================================================== */

.campaign_editor {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.596);
  z-index: 10;
}

.editor_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  min-width: 600px;
}

.description {
  min-height: 100px;
}

.editor_content textarea {
  resize: vertical;
}

.editor_content input[name="delete-text"] {
  margin-top: 15px;
}

.editor_content button {
  margin-top: 15px;
}