.home_page section {
  display: flex;
  width: 100%;
  margin: 0 clamp(1rem, 5vw, 4rem);
}

.home_page .hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 10rem;
  width: fit-content;
}

.hero_image_cont {
  width: 38%;
}

.hero_image {
  width: 100%;
  height: auto;
}

.hero_text_cont {
  width: 52%;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: relative;
}

.hero_text_cont button {
  width: fit-content;
  font-size: clamp(0.8rem, 5vw, 1.2rem);
  font-feature-settings: "ss01";
}

.hero h1 {
  font-size: clamp(2rem, 5vw, 4rem);
  font-weight: 400;
  text-shadow:
    0 3px 10px rgba(0,0,0,.75),
    0 0 30px rgba(0,0,0,.45);
  line-height: 5.5rem;
}

.hero h1 span {
  font-feature-settings: "ss01";
}

.green_text {
  color: #adff5d;
  font-weight: 600;
  font-size: clamp(2.5rem, 6vw, 4.5rem);
  font-feature-settings: "ss01";
}

.hero p {
  max-width: 650px;
  font-size: clamp(0.8rem, 5vw, 1.2rem);
  font-weight: 300;
}

.sparkle_button {
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 25px;
  background-color: rgb(117, 30, 175);
  border: 3px solid rgb(160, 96, 219);
  transition: 
    background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  cursor: pointer;
  width: fit-content;
  padding: 0.9rem;
  margin-top: 10px;
}

.sparkle_button:hover {
  background-color: rgb(77, 20, 116);
  border-color: rgb(119, 67, 167);
}

.sparkle_button p {
  line-height: 1.1rem;
  font-weight: 400;
  color: white;
}

.sparkle_icon {
  fill: rgba(255, 255, 255, 0.445);
  outline: white;
}

@media (max-width: 950px) {
  .hero h1 { 
    line-height: 4rem;
  }
}

@media (max-width: 575px) {
  .hero {
    flex-direction: column;
    margin-top: 6.7rem;
  }
  .hero_image_cont {
    order: 1;
    width: 80%;
  }
  .hero_text_cont {
    order: 2;
    width: 100%;
  }
  .hero h1 { 
    line-height: 3rem;
  }
}

/* ========================================================================== */
/* DESIGN ASSETS */
/* ========================================================================== */

.small_sparkle_1,
.medium_sparkle_1,
.large_sparkle_1,
.small_sparkle_2,
.medium_sparkle_2 {
  fill: white;
}

.small_sparkle_1 {
  position: absolute;
  top: 361px;
  right: 69px;
  width: 40px;
  height: 40px;
}

.medium_sparkle_1 {
  position: absolute;
  top: 291px;
  right: 116px;
  width: 60px;
  height: 80px;
}

.large_sparkle_1 {
  position: absolute;
  top: 250px;
  right: 7px;
  width: 80px;
  height: 100px;
}

.small_sparkle_2 {
  position: absolute;
  top: -23px;
  left: -54px;
  width: 40px;
  height: 40px;
}

.medium_sparkle_2 {
  position: absolute;
  top: -92px;
  left: -8px;
  width: 60px;
  height: 80px;
}

@media (max-width: 1400px) {
  .small_sparkle_1,
  .medium_sparkle_1,
  .large_sparkle_1,
  .small_sparkle_2,
  .medium_sparkle_2 {
    transform: scale(.8);
  }
  .small_sparkle_1 {
    top: 368px;
    right: 62px;
  }
  .medium_sparkle_1 {
    top: 302px;
    right: 96px;
  }
  .large_sparkle_1 {
    top: 267px;
  }
  .small_sparkle_2 {
    top: -29px;
    left: -47px;
  }
  .medium_sparkle_2 {
    top: -84px;
    right: -21px;
  }
}

@media (max-width: 900px) {
  .small_sparkle_1,
  .medium_sparkle_1,
  .large_sparkle_1,
  .small_sparkle_2,
  .medium_sparkle_2 {
    display: none;
  }
}


.hero::before,
.hero::after {
  content: "";
  position: absolute;
  inset: auto;
  width: 420px;
  height: 420px;
  border-radius: 50%;
  filter: blur(70px);
  opacity: 0.65;
  z-index: -1;
}

.hero::before {
  background: #421b3d;
  top: 35%;
  left: 5%;
}

.hero::after {
  background: #3c502b;
  top: 10%;
  left: 30%;
}