.dashboard_navigation {
  height: 100vh;
  width: 300px;
  background-color: rgb(53, 53, 53);
  position: sticky;
  padding: 20px;
  flex-shrink: 0;
}

.navigation_section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
}

.campaign_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.campaign_container button {
  width: fit-content;
  padding: 5px 8px;
}

.campaign_name {
  font-size: 1.1rem;
}

.navigation_page {
  padding: 8px 10px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  gap: 8px
}

.navigation_page:hover {
  background-color: rgb(85, 85, 85);
}

.navigation_page p {
  color: white;
  font-weight: 500;
}