@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  font-family: "Brakle", "Montserrat", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffffde;
  background-color: #242424;

  --qb-frog-green: #adff5d;
  --qb-magic-purple: #94a7fa;
  --qb-spellwine : #8b5a74;

  --primary-: #242424;
  --primary-translucent: rgba(36, 36, 36, 0.884);

  --border-: 1px solid #6b6b6b;
  --hover-color: #6b6b6b60;

  --qb-mimic-coin: #e0af44;
  --qb-mimic-coin-trans : #e0af442f;

  --qb-pixie-dust : #da4293;
  --qb-pixie-dust-trans : #da429336;

  --qb-mana-star: #b151ff;
  --qb-mana-star-trans: #b151ff3b; 

  --qb-blue-slime: #71baff;
  --qb-blue-slime-trans: #71baff2d; 

  --qb-error-red: #ff5d5d;
  --qb-error-red-trans: #ff5d5d3f;;

  --qb-seasame-grey: #bdbdbd;
  --qb-seasame-grey-trans: #bdbdbd38;

  --qb-periwinkle: #97aaff;
  --qb-periwinkle-trans: #97aaff3b;

  --qb-alien-green: #adff5d;
  --qb-alien-green-trans: #aeff5d3b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Brakle", "Montserrat", sans-serif;
}

p {
  font-weight: 300;
}

button {
  border-radius: 5px;
  background-color: var(--primary-);
  border: 1px solid #6b6b6b;
  color: #fff;
  transition: 
    background-color 0.2s ease-in-out;
}

button:hover {
  background-color: rgb(65, 65, 65);
}

input, textarea {
  padding: .8rem 1rem;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  background-color: white;
  color: #1a1a1a;
  border-radius: 25px;
  border: 2px solid white;
}
input:focus {
  outline: 2px solid #c084fc;
  outline-offset: 2px;
}

a {
  color: #adff5d;
  text-decoration: none;
  font-weight: 300;
  transition: color ease-in-out 0.2s;
}

a:hover {
  color: #c084fc;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
