@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  font-family: "Brakle", "Montserrat", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffffde;
  background-color: #242424;

  --qb-frog-green: #adff5d;
  --qb-magic-purple: #94a7fa;

  --primary-: #242424;
  --primary-translucent: rgba(36, 36, 36, 0.884);

  --border-: 1px solid #6b6b6b;
  --hover-color: #6b6b6b60;


  /* --qb-translucent-blue: */
  --qb-translucent-green: rgba(53, 163, 43, 0.45);
  /* --qb-translucent-yellow: */
  --qb-translucent-orange: rgba(252, 105, 47, 0.45);
  --qb-red: rgba(252, 47, 47, 1);
  --qb-translucent-red: rgba(252, 47, 47, 0.45);
  --qb-translucent-purple: rgba(195, 0, 255, 0.45);
  --qb-translucent-blue-purple: rgba(60, 89, 255, 0.45);
  --qb-translucent-pink: rgba(255, 0, 170, 0.459);
  --qb-translucent-grey: rgba(99, 99, 99, 0.45);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Brakle", "Montserrat", sans-serif;
}

button {
  border-radius: 5px;
  background-color: var(--primary-);
  border: 1px solid #6b6b6b;
  color: #fff;
  transition: 
    background-color 0.2s ease-in-out;
}

button:hover {
  background-color: rgb(65, 65, 65);
}

input, textarea {
  padding: .8rem 1rem;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  background-color: white;
  color: #1a1a1a;
  border-radius: 25px;
  border: 2px solid white;
}
input:focus {
  outline: 2px solid #c084fc;
  outline-offset: 2px;
}

a {
  color: #adff5d;
  text-decoration: none;
  font-weight: 300;
  transition: color ease-in-out 0.2s;
}

a:hover {
  color: #c084fc;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
